 <ul>
     <li><a href="http://localhost:8081/home">home</a></li>
     <li><a href="http://localhost:8081/formulario">formulario</a></li>
     <li><a href="http://localhost:8081/listar">listar</a></li>
       <li><a href="http://localhost:8081/editar">editar</a></li>
 </ul>